body
{
  background-color: orange;
  font-family: 'Lato', Arial, sans-serif;
}

h1 {
  color: white;
  text-align: center;
}

#topstrip {
  width: 100.65%;
  height: 30px;
  margin: 0px;
  border: 0px;
  padding: 3px;
  background-color: grey;
  float: left;
  position: relative;
  right: 8px;
  bottom: 8px;
  font-family: 'Urbanist', sans-serif;
  font-size: 26px;
}

#age {
  width: 30%;
  height: 25px;
  border: 0px;
  margin: 0px;
  padding: 3px;
  font-family: 'Urbanist', sans-serif;
  font-size: 26px;
}

#agetext {
  position: relative;
  left: 10px;
  bottom: 3px;
}

